<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".presentation.activity.MovieFavoriteActivity"
            android:exported="true"
            android:label="@string/movie_favorite">
            <intent-filter android:label="@string/movie_favorite">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!--URL : example://movies/movie-discover-->
                <data
                    android:scheme="example"
                    android:host="movies"
                    android:path="@string/movie_favorite_path"/>
            </intent-filter>
        </activity>
    </application>

</manifest>